extends layout

block head
  link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')

  script(type='text/javascript', src='/javascripts/controllers/AppController.js')

block content
  div.container(ng-controller="AppController", ng-init="setSessions( #{JSON.stringify(sessions)} )")
    h1 My Session List
    h2 Add New
    form(novalidate, ng-submit="addNewSession()")
      textarea( ng-model="newSession.title",
                placeholder="Description")
      br
      br
      button.btn.btn-primary(type="submit") Add Session
    h2 Upcoming
    div
      div.row.session.not-done(ng-repeat="session in sessions")
        div.span9
          label{{session.title}}    
        div.span3.text-right
          i {{session.date | date:'MMM d, yyyy'}}
   